
.collage{
width: 220px;
height: 220px;
border: 2px soled red;
margin: 30px;
position: relative;/*всегда с позишин абсолют*/


&__image {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;/*дае управелне элементом по кординатам left top*/
    transition: 0.3s;



    &:hover{/*изменение элемента при наведении*/
        z-index: 1;
        transform: scale(1.1) translate(30px);
    }
    


    &_first{
        left: 0;
        top: 0;
        // z-index: 20; 
    }


    &_second{ /*модификаторы- добавляют новый слой*/
        left: 10px;
        top: 10px;
        // z-index: 15;

    }

    &_third{
        left: 20px;
        top: 20px;

    }

}

}
.modal{
    margin: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 15px 0 black;
    position: relative;



    &::after{/*псевдоклассы*/
        content:'_';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: yellow;
        color: white;
        font-weight: bold;/* жирность текста*/
        position: absolute;
        right: 15px;
        top: -10px;
        box-shadow: 0 0 5px gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }



        &::before{/*псевдоклассы*/
            content:'\169';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: red;
            color: white;
            font-weight: bold;/* жирность текста*/
            position: absolute;
            right: -10px;
            top: -10px;
            box-shadow: 0 0 5px gray;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    






    
}


.clip{
    width: 200px;
    height: 100px;
    background-image: url(../images/B8L1ua-YosI.jpg);
    background-repeat: no-repeat;/**/
    background-position: center;/*позиция фона*/
    background-size: cover;/**/
    margin: 30px;
    clip-path: polygon(0 0, 100% 50%, 0 100% );/*вырезать что -то из картинки(элемента фона) x,y*/
}


.container{
width: 90%;
border: 2px solid red;
margin: 30px;
display: flex;/* ставит элементы в ряд*/
// flex-direction: row;          /* это все по умолчанию при дисплей флекс; colomn  меняет вертикаль и горизонсталь  местами; revers 3 2 1 вертикаль или ров горизонталь*/
// justify-content: flex-start;
// align-items: flex-start;/* по вертикаль; and -съедут вниз; центр-центр*/
// flex-wrap: nowrap;
justify-content: space-between;/*around  отступы,  за горизонталь */
padding: 0 20px;
height: 300px;
box-sizing: border-box;




&__item{
width: 100px;
height: 100px;
background-color: red;
color: white;
font-size: 20px;
font-weight: bold;
// display: inline-block;/*как сторочный и блочный*/

}
}

